@import url('https://fonts.googleapis.com/css2? family= Krona+One & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #0C2D57;
    --cor-houver: #265073; 
    --cor-segundaria: #FC6736;
    --cor-terciaria: #FFB0B0;
    --cor-fonte: #EFECEC;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
} 

*{    
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-fonte);
}

.cabecalho {
    padding: 2% 0% 0% 8%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    font-family: var(--fonte-secundaria);
    font-size: 1,5rem;
    font-weight: 600;
    color: var(--cor-segundaria);
    text-decoration: none;
}

.cabecalho_menu_link:hover {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao_conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_curriculo {
    width: 100%;
    display: flex;
    flex-direction:column;
    gap: 40px;
}

.apresentacao-titulo {
    font-size: 2,25rem; /* font-size: 36px;  === 36px/16=2,25rem */
    font-family: var(--fonte-primaria);
    text-align: justify;
    color: var(--cor-terciaria);
}

.destaque-titulo {
    color: var(--cor-segundaria);
}
.apresentacao_texto {
    font-size: 1,5rem; /* 24px */
    text-align: justify;
    font-family: var(--fonte-secundaria);
}

.destaque-texto {
    color: var(--cor-terciaria);
}

.apresentacao_links {
   display: flex;
   flex-direction:column;
   justify-content: space-between;
   align-items: center;
   gap: 32px; 
}

.apresentacao_links_subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1,5rem;
}
.aprest__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-segundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1,5rem;;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-fonte);
    font: 'Montserrat', sans-serif;
    
}
.aprest__links__link:hover {
   background-color: var(--cor-houver);
   font-size: 1,56rem; /* 25px */
   color: var(--cor-terciaria);  
}

.apresent_imagem {
   width: 40%; 
}

.rodape {
    font-family: var(--fonte-primaria);  
    font-size: 0.8rem;
    font-weight: 400;
    padding: 24px;
    color: var(--cor-fonte);
    background-color: var(--cor-segundaria);
    text-align: center;
}

@media (max-width: 1100px ) {

    .apresentacao {
        flex-direction: column-reverse;
    }

    .cabecalho {
        padding: 10%;
    }

    .cabecalho_menu {
        justify-content: center;
    }

    .apresentacao_conteudo {
        width: auto;
        gap: 40px;
    }

    .apresent_imagem {
        width: 60%;
     }
}